*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.bg-home{
    background: url('./images/bkg_topo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-navbar{
    background: linear-gradient( rgb(255, 251, 251,0.4),rgba(255, 251, 251,0.4));
}
.text-logo{
    color: #96c648;
}
.text-green{
    color: #a3ce5e;
}
.quotation{
    color: #ff2150;
}
.bg-vendor{
    background: url('./images/bkg_vendor_lock.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-service{
    background: url('./images/bkg_self_service.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-about {
    background: url('./images/bkg_who.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    background: url('./images/bkg_rodape.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.owl-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
}


